In [1]:
import pandas as pd
import numpy as np

print("Wow!!")

Wow!!

In [16]:
x = np.arange(-10,11, 1)

def f(a):
    return a*2 + a**3

df = pd.DataFrame([x ,f(x)])
df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,...,1,2,3,4,5,6,7,8,9,10
1,-1020,-747,-528,-357,-228,-135,-72,-33,-12,-3,...,3,12,33,72,135,228,357,528,747,1020